<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target 
        xsi:type="File" 
        name="allfile" 
        fileName="logs/nlog-all-${shortdate}.log"
        layout="${longdate}&#x9;${uppercase:${level}}&#x9;${event-properties:item=EventId_Id}&#x9;${logger}&#x9;${message} ${exception:format=tostring}" 
        maxArchiveFiles="4"
        archiveAboveSize="10240"
        archiveEvery="Day"/>
    </target>

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
        xsi:type="File"
        name="ownFile-web"
        fileName="logs/nlog-own-${shortdate}.log"
        layout="${longdate}&#x9;${uppercase:${level}}&#x9;${event-properties:item=EventId_Id}&#x9;${logger}&#x9;${message} ${exception:format=tostring}&#x9;url: ${aspnet-request-url}&#x9;action: ${aspnet-mvc-action}"
        maxArchiveFiles="4"
        archiveAboveSize="10240"
        archiveEvery="Day"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
  </rules>
</nlog>